<!DOCTYPE html>
<html>
  <head>
    <title>BookBoxRails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'normalize' %>
    <%= stylesheet_link_tag    'skeleton' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/application.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div id="header">
      <% if current_user %>
        <div class="row header-logout">
          <% unless params[:controller] == "bookshelf" %>
            <%= link_to "Bookshelf", bookshelf_index_path, class:"button button-primary" %>
          <% end %>
          <% unless params[:controller] == "books" %>
            <%= link_to "Post a new book", new_book_path, class:"button button-primary" %>
          <% end %>
          <% unless params[:controller] == "trade_wall" %>
            <%= link_to "Trade Wall", trade_wall_index_path, class:"button button-primary" %>
          <% end %>
          <%= link_to "Settings", user_path(current_user.id), class:"button button-primary" %>
          <%= link_to "Log Out", logout_path, method: :delete, class:"button button-primary" %>
        </div>
      <% end %>
    </div>

    <div class="container">

      <%= yield %>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>

</html>
